:host {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    height: calc(100vh-30px);
    width: calc(100vw-30px);
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
        margin: 0;
    }

    .base, .road, .see{
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}