<div class="main">
    <div class="sidenav">
        <h4>Creational Patterns</h4>
        <a routerLink="/abstract-factory" class="btn" routerLinkActive="active">abstract-factory</a>
        <a routerLink="/abstract-method" class="btn" routerLinkActive="active">abstract-method</a>
        <a routerLink="/builder" class="btn" routerLinkActive="active">builder</a>
        <a routerLink="/prototype" class="btn" routerLinkActive="active">prototype</a>
        <a routerLink="/singleton" class="btn" routerLinkActive="active">singleton</a>
        <h4>Creational Patterns</h4>
        <a routerLink="/adapter" class="btn" routerLinkActive="active">adapter</a>
        <a routerLink="/bridge" class="btn" routerLinkActive="active">bridge</a>
        <a routerLink="/composite" class="btn" routerLinkActive="active">composite</a>
        <a routerLink="/decorator" class="btn" routerLinkActive="active">decorator</a>
        <a routerLink="/facade" class="btn" routerLinkActive="active">facade</a>
        <a routerLink="/flyweight" class="btn" routerLinkActive="active">flyweight</a>
        <a routerLink="/proxy" class="btn" routerLinkActive="active">proxy</a>
        <h4>Behavioral Patterns</h4>
        <a routerLink="/chain-of-responsibility" class="btn" routerLinkActive="active">chain of responsibility</a>
        <a routerLink="/command" class="btn" routerLinkActive="active">command</a>
        <a routerLink="/iterator" class="btn" routerLinkActive="active">iterator</a>
        <a routerLink="/mediator" class="btn" routerLinkActive="active">mediator</a>
        <a routerLink="/memento" class="btn" routerLinkActive="active">memento</a>
        <a routerLink="/observer" class="btn" routerLinkActive="active">observer</a>
        <a routerLink="/state" class="btn" routerLinkActive="active">state</a>
        <a routerLink="/strategy" class="btn" routerLinkActive="active">strategy</a>
        <a routerLink="/template-method" class="btn" routerLinkActive="active">template-method</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
