<div class="main">
    <div class="sidenav">
        <h4>Creational Patterns</h4>
        <button (click)="abstractFactory()">abstract-factory</button>
        <button (click)="abstractMethod()">abstract-method</button>
        <button (click)="builder()">builder</button>
        <button (click)="prototype()">prototype</button>
        <button (click)="singleton()">singleton</button>
        <h4>Creational Patterns</h4>
        <button (click)="adapter()">adapter</button>
        <button (click)="bridge()">bridge</button>
        <button (click)="composite()">composite</button>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
