.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .sidenav {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .content {
        padding: 20px;
        display: flex;
        justify-content: center;
        width: 800px;
    }
}