.headset{
    display: flex;
    flex-direction: column;
    align-items: center;
    .item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .name, .info {
            border: 1px solid black;
            width: 250px;
        }
        .name {
            font-weight: bold;
        }
    }
}