<div class="headset">
    <h3>{{item.table.getHeadsetType()}}</h3>
    <h4>Table</h4>
    <div class="item">
        <div class="name">
            Material:
        </div>
        <div class="info">
            {{item.table.getMaterial()}}
        </div>
    </div>
    <div class="item">
        <div class="name">
            Color:
        </div>
        <div class="info">
            {{item.table.getColor()}}
        </div>
    </div>
    <div class="item">
        <div class="name">
            Price:
        </div>
        <div class="info">
            {{item.table.getPrice()}}
        </div>
    </div>
    <h4>Chair</h4>
    <div class="item">
        <div class="name">
            Material:
        </div>
        <div class="info">
            {{item.chair.getMaterial()}}
        </div>
    </div>
    <div class="item">
        <div class="name">
            Color:
        </div>
        <div class="info">
            {{item.chair.getColor()}}
        </div>
    </div>
    <div class="item">
        <div class="name">
            Price:
        </div>
        <div class="info">
            {{item.chair.getPrice()}}
        </div>
    </div>
</div>